<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/vendor/fork-awesome/css/fork-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="manifest" href="/manifest.json">
</head>
<body>
  {{ content }}
  <script src="/assets/vendor/vexflow.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
